.vl {
    border-left: 1px solid white;
    height: 30px;
    position: absolute;
    margin-left: 96px;
    margin-top: 10px;
    top: 10px;
  }

.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* d-flex text-white flex-start text-decoration-none */
.header-logo{
  display: flex;
  margin: 0px auto;
  text-decoration: none;
  justify-content: flex-start;
  min-width: 100px;
  text-align: center;
}

.header-menu{
  display: flex;
  margin: 0px auto;
  text-decoration: none;
  justify-content:stretch;
  align-content: center;
  flex-grow: 1;
}

.login-buttons{
  margin: 0px auto;
  justify-self: stretch;
}

.header-profile{
  margin: 0px auto;
  justify-self: stretch;
  padding: 5px;
  border-radius: 5px;
}

.header-profile:hover{
  background-color: black;
}

#profile-name{
margin-right: 5px;
line-height: 1.5;
display: inline-block;
vertical-align: middle;
}

